.h-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.h-comp {
  width: 6rem;
  display: flex;
}

.clickable-txt {
  cursor: pointer;
}

.p-all-sm {
  padding: 1rem;
}

.container {
  margin-right: 20%;
  margin-left: 20%;
}
.body-p {
}
.title-p {
  font-weight: bold;
}
